<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <Kafka name="KafkaAppender" topic="log-events">
            <JsonLayout />
<!--            <PatternLayout pattern="{datetime: '%d{yyyy-MM-dd HH:mm:ss}', thread: '[%t]', level:'%-5level', class:'%logger{36}', message: '%msg'}"/>-->
            <Property name="bootstrap.servers">localhost:29092,localhost:39092,localhost:49092</Property>

            <Property name="acks">all</Property>
            <Property name="retries">10</Property>
            <Property name="retry.backoff.ms">200</Property>
            <Property name="delivery.timeout.ms">60000</Property>
            <Property name="request.timeout.ms">30000</Property>

            <!-- 16KB batch size and wait 500ms to accumulate message            -->
            <Property name="batch.size">16384</Property>
            <Property name="linger.ms">500</Property>

            <!-- 32MB buffer memory            -->
            <Property name="buffer.memory">33554432</Property>

            <Property name="key.serializer">org.apache.kafka.common.serialization.StringSerializer</Property>
            <Property name="value.serializer">org.apache.kafka.common.serialization.ByteArraySerializer</Property>

            <!-- Compression for reduce network usage            -->
            <Property name="compression.type">gzip</Property>
        </Kafka>

        <Async name="Async">
            <AppenderRef ref="KafkaAppender"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.kafka" level="WARN"/><!-- avoid recursive logging -->

        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="KafkaAppender"/>
        </Root>
    </Loggers>
</Configuration>
